<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>portfolio.yuki_morishita</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/style.css" />
  </head>
  <body id="pageIndex">
    <!-- clientWorks -->
    <article id="clientWorks">
      <div class="main">
        <h1 id="mainTitle">
          <img src="https://vectr.com/tmp/h19EIiOUG5/aQo6Z1jHP.svg?width=480&height=173&select=aQo6Z1jHPpage0&source=page"
            width="480px;"
          />
        </h1>
      </div>

      <!-- box1 -->
      <article class="workArea main" id="about">
        <section class="titleArea viewMore">
          <div class="imgArea">
            <div>
              <img alt src="images/about.png" />
            </div>
            <div class="title" style="opacity: 0; display: block;">
              <p>About</p>
            </div>
          </div>
        </section>
      </article>
      <!-- /box_1 -->

      <!-- box2 -->
      <article class="workArea main" id="skill">
        <section class="titleArea viewMore">
          <div class="imgArea">
            <div>
              <img alt src="images/skill.png" width="900px;" height="420px;" />
            </div>
            <div class="title" style="opacity: 0; display: block; ">
              <p>Skill</p>
            </div>
          </div>
        </section>
      </article>
      <!-- /box_2 -->

      <!-- box3 -->
      <article class="workArea main" id="work">
        <section class="titleArea viewMore">
          <div class="imgArea">
            <div>
              <img alt src="images/work.png" />
            </div>
            <div class="title" style="opacity: 0; display: block;">
              <p>Work</p>
            </div>
          </div>
        </section>
      </article>
      <!-- /box_3 -->

      <!-- box4-->
      <article class="workArea main" id="contact">
        <section class="titleArea viewMore">
          <div class="imgArea">
            <div>
              <img alt src="images/contact.png" />
            </div>
            <div class="title" style="opacity: 0; display: block;">
              <p>Contact</p>
            </div>
          </div>
        </section>
      </article>
      <!-- /box_4 -->
    </article>
    <!-- /clientWorks -->

    <!-- wrap -->
    <div class="wrap">
      <!-- more info -->
      <article class="main" id="moreInfo">
        <h1 id="mainTitle">
          <img
            src="https://vectr.com/tmp/d20DAetgcb/acRAl0exh.svg?width=300&height=36&select=acRAl0exhpage0"
            width="300px"
          />
        </h1>
        <p>aaaaaaa</p>
        <p>info[at]portfolio.yuki_morishita</p>
      </article>
      <!-- /more info -->

      <footer class="main">
        ©portfolio.yuki_morishita
      </footer>
    </div>
    <!-- /wrap -->
  </body>
</html>
